body {
	background-color: #1a1a1a;
	position: relative;
	padding: 0;
	margin: 0 5;
}

div#band_container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 220;
	text-align: center;
	/*border: 1px solid #F0FFFF;*/
}

div#band_wire {
	position: relative;
	margin: 0 auto;
	width: 286px;
	height: 59px;
	background-image: url(../img/band_wire.png);
	background-repeat: no-repeat;

/*	-moz-background-size: contain;      
	-webkit-background-size: contain;   
	-o-background-size: contain;       
	background-size: contain;*/

	/*border: 1px solid #f00;*/
}

/*pragma mark - band line*/
.band_line_contain {
	margin: 0 auto;
	width: 11px;
	float: left;
	position: absolute;

	/*border: 1px solid #F0FFFF;*/
}

.band_line_head {
	width: 11px;
	height: 7px;
	background-image: url(../img/line_head.png);
	background-repeat: no-repeat;
}

.band_line {
	height: 40px;
	width: 1px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/line.png);
}

div#band_lineandbands_container {
	width: 286px;	/*与band_wire宽度相同*/
	margin-left: auto;
	margin-right: auto;
	margin-top: -6px;
	position: relative;
	/*border: 1px solid #f00;*/
}

div#band_line_contain_1 {
	left: 38px;
}

@keyframes a_band_line_1
{
	0%   {height: 31px;}
	100% {height: 51px;}
}

@-moz-keyframes a_band_line_1 
{
	0%   {height: 31px;}
	100% {height: 51px;}
}

@-webkit-keyframes a_band_line_1 
{
	0%   {height: 31px;}
	100% {height: 51px;}
}

@-o-keyframes a_band_line_1 
{
	0%   {height: 31px;}
	100% {height: 51px;}
}

div#band_line_1 {
	animation-name: a_band_line_1;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	-moz-animation-name: a_band_line_1;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

	-webkit-animation-name: a_band_line_1;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

	-o-animation-name: a_band_line_1;
	-o-animation-duration: 3s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
}

div#band_line_contain_2 {
	left: 71px;
}

@keyframes a_band_line_3
{
	0%   {height: 51px;}
	100% {height: 31;}
}

@-moz-keyframes a_band_line_3
{
	0%   {height: 51px;}
	100% {height: 31;}
}

@-webkit-keyframes a_band_line_3 
{
	0%   {height: 51px;}
	100% {height: 31;}
}

@-o-keyframes a_band_line_3 
{
	0%   {height: 51px;}
	100% {height: 31;}
}

div#band_line_contain_3 {
	left: 169px;
}

div#band_line_3 {
	height: 41px;

	animation-name: a_band_line_3;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	-moz-animation-name: a_band_line_3;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

	-webkit-animation-name: a_band_line_3;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

	-o-animation-name: a_band_line_3;
	-o-animation-duration: 3s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
}

div#band_line_contain_4 {
	left: 180px;
}

div#band_line_4 {
	height: 59px;
}

div#band_line_contain_4 {
	margin-left: 40px;
}

/*pragma mark - band char*/
.band_char {
	margin-top: 47px;
	float: left;
	background-repeat: no-repeat;

	-moz-background-size: contain;      
	-webkit-background-size: contain;   
	-o-background-size: contain;       
	background-size: contain;
}

@keyframes a_band_char_ll
{
	0%   {margin-top: 37px;}
	100% {margin-top: 57px;}
}

@-moz-keyframes a_band_char_ll 
{
	0%   {margin-top: 37px;}
	100% {margin-top: 57px;}
}

@-webkit-keyframes a_band_char_ll 
{
	0%   {margin-top: 37px;}
	100% {margin-top: 57px;}
}

@-o-keyframes a_band_char_ll 
{
	0%   {margin-top: 37px;}
	100% {margin-top: 57px;}
}

div#band_char_ll {
	margin-left: 30px;
	width: 28px;
	height: 100px;
	background-image: url(../img/ll.png);

	animation-name: a_band_char_ll;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	-moz-animation-name: a_band_char_ll;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

	-webkit-animation-name: a_band_char_ll;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

	-o-animation-name: a_band_char_ll;
	-o-animation-duration: 3s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
}

div#band_char_lr {
	margin-left: 5px;
	width: 60px;
	height: 100px;
	background-image: url(../img/lr.png);
}

@keyframes a_band_char_rr
{
	0%   {margin-top: 57px;}
	100% {margin-top: 37px;}
}

@-moz-keyframes a_band_char_rr
{
	0%   {margin-top: 57px;}
	100% {margin-top: 37px;}
}

@-webkit-keyframes a_band_char_rr
{
	0%   {margin-top: 57px;}
	100% {margin-top: 37px;}
}

@-o-keyframes a_band_char_rr
{
	0%   {margin-top: 57px;}
	100% {margin-top: 37px;}
}

div#band_char_rl {
	margin-left: 30px;
	width: 38px;
	height: 100px;
	background-image: url(../img/rl.png);

	animation-name: a_band_char_rr;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	-moz-animation-name: a_band_char_rr;
	-moz-animation-duration: 3s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

	-webkit-animation-name: a_band_char_rr;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;

	-o-animation-name: a_band_char_rr;
	-o-animation-duration: 3s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
}

div#band_char_rr {
	margin-left: 5px;
	width: 60px;
	height: 100px;
	background-image: url(../img/rr.png);
}

/*pragma mark - note*/
.note_line {
	height: 50px;
	width: 1px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/line.png);
}

div#note_container {
	width: 20px;
	margin: 0 auto;
}

div#note_text {
	margin-top: 10px;
	height: 118px;
	background-image: url(../img/note.png);

	-moz-background-size: contain;      
	-webkit-background-size: contain;   
	-o-background-size: contain;       
	background-size: contain;
}

div#note_line_bottom {
	margin-top: 10px;
}

/*pragma mark - entrance*/
div#entrance_container {
	bottom: 0;
	width: 100%;
	position: absolute;
	/*border: 1px solid #F0FFFF;*/
}

div#entrance {
	margin: 0 auto;
	width: 162px;
	height: 170px;
	bottom: 0;
	background-image: url(../img/house_close.png);

	-moz-background-size: contain;      
	-webkit-background-size: contain;   
	-o-background-size: contain;       
	background-size: contain;
}

div#entrance:hover {
	background-image: url(../img/house_open.png);
}

div#lying_man {
	width: 42px;
	height: 42px;
	margin-left: 30%;
	position: absolute;
	bottom: 0px;
	background-image: url(../img/me_lying.png);
	background-repeat: no-repeat;

	-moz-background-size: contain;      
	-webkit-background-size: contain;   
	-o-background-size: contain;       
	background-size: contain;
}


















