/*--------------------------------------------*/
.hide {
  display: none;
}
body {
  width: 100%;
  margin: 0px;
}
html {
  width: 100%;
  height: 100%;
}
/*--------------------------------------------*/
/*public*/
.image {
  background-size: contain;
}
.text {
  font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
p {
  margin: 0px;
}
/*--------------------------------------------*/
.preloader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 999;
}
.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190px;
  height: 260px;
  margin-left: -85px;
  margin-top: -130px;
}
.preloader-inner p {
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 13px;
  color: #333;
  text-align: center;
}
.earth {
  position: absolute;
  width: 102px;
  height: 102px;
  top: 50%;
  left: 50%;
  margin-left: -51px;
  margin-top: -51px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/loading_earth.png");
}
.afstar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 190px;
  height: 180px;
  margin-left: -95px;
  margin-top: -90px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/loading_aistar.png");
}
/*--------------------------------------------*/
/*walking*/
.walking {
  background-color: #fff;
  z-index: 1;
}
.sun {
  position: absolute;
  bottom: 0%;
  left: -70px;
  width: 539px;
  height: 510px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/sun.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.sky {
  width: 100%;
  height: 100%;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/sky.png");
  background-size: 100% 100%;
}
.mountain-long {
  position: absolute;
  bottom: 47px;
  width: 100%;
  height: 312px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/moutain_long.png");
  background-size: cover;
}
.mountain-close {
  position: absolute;
  bottom: 47px;
  width: 100%;
  height: 201px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/moutain_close.png");
  background-size: cover;
}
.walking-man {
  position: absolute;
/*width: 575px;*/
/*height: 960px;*/
/*walking.png 27600X959*/
  width: 165px;
  height: 276px;
  background-size: auto 276px;
  left: 5%;
  bottom: 43px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/walking_original_colored_shadowed.png?imageView2/2/w/15886");
  background-position: 0px 0px;
  cursor: pointer;
}
.trees-close {
  position: absolute;
  bottom: 45px;
  width: 100%;
  height: 471px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/tree_close.png");
  background-size: cover;
  pointer-events: none;
}
.trees-long {
  position: absolute;
  bottom: 45px;
  width: 100%;
  height: 31px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/tree_long.png");
  background-size: cover;
}
.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 47px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/ground.png");
  background-size: 100% 100%;
}
@media screen and (max-width: 700px) {
  .mountain-long {
    width: 100%;
    height: 312px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/moutain_long.png");
    background-position: 10% 0px;
    background-size: cover;
  }
}
@media screen and (max-width: 539px) {
  .sun {
    left: 0;
    width: 100%;
    background-position: -70px 0px;
  }
}
@media screen and (max-height: 664px) {
  .sun {
    height: 390px;
    background-position: -30px 0px;
  }
}
/*--------------------------------------------*/
/*title*/
.title {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 5%;
  margin-left: -204px;
  width: 409px;
  height: 150px;
}
.myname {
  position: relative;
  top: -10px;
  width: 222px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/myname.png");
  background-size: contain;
}
.job {
  position: relative;
  top: -15px;
  width: 100%;
  height: 38px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/jobb.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.title-line {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -20px;
  width: 2px;
  height: 50px;
  background-color: #380a2e;
}
.title-button {
  position: relative;
  top: -55px;
  margin-left: auto;
  margin-right: auto;
  width: 49px;
  height: 49px;
  background-size: contain;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/title_button.png");
}
.title-button:hover {
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .title {
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 150px;
  }
  .title-line {
    top: -30px;
  }
  .title-button {
    top: -65px;
  }
}
/*--------------------------------------------*/
/*detail*/
.detail-inner {
  width: 100%;
  height: 100%;
}
.border-top {
  height: 35px;
  width: 100%;
  background-size: contain;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/border_top-01.png");
  background-repeat: no-repeat;
  background-position: center;
}
.detail-title {
  font-size: 17px;
  color: #4d4d4d;
}
.operation-bar {
  position: absolute;
  width: 305px;
  height: 45px;
  top: 100px;
  margin-left: 50%;
  left: -152px;
}
.operation-icon {
  width: 45px;
  height: 45px;
  margin-right: 20px;
  float: left;
  background-size: contain;
  cursor: pointer;
  border-radius: 24px;
  transition: transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
}
.operation-icon-selected {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
.operation-icon-unselected {
  transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
}
.operation-icon:hover {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}
.operation-icon-world {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/icon_world.png");
}
.operation-icon-code {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/icon_code.png");
}
.operation-icon-draw {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/icon_draw.png");
}
.operation-icon-music {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/icon_music.png");
}
.operation-icon-pen {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/icon_pen.png");
  margin-right: 0px;
}
.border-bottom {
  height: 35px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-size: contain;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/border_bottom-01.png");
  background-repeat: no-repeat;
  background-position: center;
}
.detail-man {
  pointer-events: none;
  position: absolute;
  left: 50%;
  bottom: 120px;
  height: 355px;
  z-index: 2;
}
.detail-man-body {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.detail-man-normal {
  width: 110px;
  left: 50%;
  margin-left: -55px;
}
.detail-man-body-normal {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/man_normal.png");
}
.detail-man-code {
  width: 210px;
  left: 50%;
  margin-left: -55px;
}
.detail-man-body-code {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/man_macbook.png");
}
.detail-man-macbook {
  width: 87px;
  height: 46px;
  position: absolute;
  top: 70px;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/macbook.png");
  animation: macbook-float 2s ease-in-out 0s infinite alternate;
  -webkit-animation: macbook-float 2s ease-in-out 0s infinite alternate;
}
.detail-man-draw {
  width: 176px;
  left: 50%;
  margin-left: -55px;
}
.detail-man-body-draw {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/man_draw.png");
}
.detail-man-guitar {
  width: 280px;
  left: 50%;
  margin-left: -140px;
}
.detail-man-body-guitar {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/man_guitar.png");
}
.detail-man-guitar-wood {
  width: 41px;
  height: 105px;
  position: absolute;
  top: 15;
  left: 0;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/guitar_wood.png");
  background-size: contain;
  animation: guitar-wood-float 2s ease-in-out 0s infinite alternate;
  -webkit-animation: guitar-wood-float 2s ease-in-out 0s infinite alternate;
}
.detail-man-guitar-electric {
  width: 35px;
  height: 105px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/guitar_electric.png");
  background-size: contain;
  animation: guitar-electric-float 2s ease-in-out 0s infinite alternate;
  -webkit-animation: guitar-electric-float 2s ease-in-out 0s infinite alternate;
}
.detail-man-write {
  width: 120px;
  left: 50%;
  margin-left: -55px;
}
.detail-man-body-write {
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/man_write.png");
}
.detail-man-write-notebook {
  width: 29px;
  height: 76px;
  position: absolute;
  top: -40px;
  right: -2px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/notebook.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: notebook-float 2s ease-in-out 0s infinite alternate;
  -webkit-animation: notebook-float 2s ease-in-out 0s infinite alternate;
}
.detail-man-shadow {
  width: 140px;
  height: 22px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: 107px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/shadow.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
@media screen and (max-height: 680px) {
  .detail-man {
/*原高度355*/
    height: 250px;
    bottom: 115px;
  }
  .detail-man-normal {
    width: 77px;
    margin-left: -38px;
  }
  .detail-man-code {
    width: 147px;
    left: 50%;
    margin-left: -38px;
  }
  .detail-man-macbook {
    width: 70px;
    height: 37px;
    top: 42px;
    right: -5px;
    animation: macbook-float-height 2s ease-in-out 0s infinite alternate;
    -webkit-animation: macbook-float-height 2s ease-in-out 0s infinite alternate;
  }
  .detail-man-draw {
    width: 123px;
    margin-left: -38px;
  }
  .detail-man-guitar {
    width: 197px;
    margin-left: -99px;
  }
  .detail-man-guitar-wood {
    top: -40px;
    left: -5px;
    animation: guitar-wood-float-height 2s ease-in-out 0s infinite alternate;
    -webkit-animation: guitar-wood-float-height 2s ease-in-out 0s infinite alternate;
  }
  .detail-man-guitar-electric {
    top: -20px;
    right: -5px;
    animation: guitar-electric-float-height 2s ease-in-out 0s infinite alternate;
    -webkit-animation: guitar-electric-float-height 2s ease-in-out 0s infinite alternate;
  }
  .detail-man-write {
    width: 84px;
    left: 50%;
    margin-left: -38px;
  }
  .detail-man-write-notebook {
    top: -50px;
    right: -4px;
    animation: notebook-float-height 2s ease-in-out 0s infinite alternate;
    -webkit-animation: notebook-float-height 2s ease-in-out 0s infinite alternate;
  }
@-moz-keyframes macbook-float-height {
    from {
      top: 42px;
    }
    to {
      top: 32px;
    }
}
@-webkit-keyframes macbook-float-height {
    from {
      top: 42px;
    }
    to {
      top: 32px;
    }
}
@-o-keyframes macbook-float-height {
    from {
      top: 42px;
    }
    to {
      top: 32px;
    }
}
@keyframes macbook-float-height {
    from {
      top: 42px;
    }
    to {
      top: 32px;
    }
}
@-moz-keyframes guitar-wood-float-height {
    from {
      top: -40px;
    }
    to {
      top: -20px;
    }
}
@-webkit-keyframes guitar-wood-float-height {
    from {
      top: -40px;
    }
    to {
      top: -20px;
    }
}
@-o-keyframes guitar-wood-float-height {
    from {
      top: -40px;
    }
    to {
      top: -20px;
    }
}
@keyframes guitar-wood-float-height {
    from {
      top: -40px;
    }
    to {
      top: -20px;
    }
}
@-moz-keyframes guitar-electric-float-height {
    from {
      top: -20px;
    }
    to {
      top: -40px;
    }
}
@-webkit-keyframes guitar-electric-float-height {
    from {
      top: -20px;
    }
    to {
      top: -40px;
    }
}
@-o-keyframes guitar-electric-float-height {
    from {
      top: -20px;
    }
    to {
      top: -40px;
    }
}
@keyframes guitar-electric-float-height {
    from {
      top: -20px;
    }
    to {
      top: -40px;
    }
}
@-moz-keyframes notebook-float-height {
    from {
      top: -50px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      top: -70px;
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
    }
}
@-webkit-keyframes notebook-float-height {
    from {
      top: -50px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      top: -70px;
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
    }
}
@-o-keyframes notebook-float-height {
    from {
      top: -50px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      top: -70px;
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
    }
}
@keyframes notebook-float-height {
    from {
      top: -50px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
    to {
      top: -70px;
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
    }
}
}
.detail-man-introduce {
  position: absolute;
  width: 100%;
  color: #4d4d4d;
  bottom: 50px;
}
.detail-man-introduce-title {
  font-size: 17px;
  width: 100%;
}
.detail-man-introduce-content {
  font-size: 15px;
  width: 100%;
}
/*--------------------------------------------*/
/*detail*/
.photo {
  background-color: #1a1a1a;
  overflow: hidden;
}
.photo-me-bw {
  position: absolute;
  width: 180px;
  height: 549px;
  bottom: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/me_bw.png?imageView2/2/w/400");
}
.photo-note {
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
}
.photo-component {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
.photo-wing {
  width: 366px;
  height: 330px;
  bottom: 340px;
  left: 120px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/wing.png");
  opacity: 0;
}
.photo-horn-right {
  width: 85px;
  height: 75px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/devil_horn_right.png");
  left: 80px;
  bottom: 488px;
  opacity: 0;
}
.photo-horn-left {
  width: 66px;
  height: 94px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/devil_horn_left.png");
  left: -18px;
  bottom: 451px;
  opacity: 0;
}
.photo-trail {
  width: 200px;
  height: 250px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/devil_trail.png");
  left: 70px;
  bottom: 190px;
  opacity: 0;
}
.photo-saiya-head {
  width: 133;
  height: 148;
  left: -4;
  bottom: 480;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/saiya_head.png");
  opacity: 0;
}
.photo-saiya-head-show-animation {
  animation: saiya-head-show 0.3s ease-out 0s 1 normal;
  animation-fill-mode: forwards;
  -webkit-animation: saiya-head-show 0.3s ease-out 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}
.photo-saiya-head-hide-animation {
  animation: saiya-head-hide 0.3s ease-in 0s 1 normal;
  animation-fill-mode: forwards;
  -webkit-animation: saiya-head-hide 0.3s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}
.photo-saiya-power {
  width: 345px;
  height: 707px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/saiya_power.png");
  left: 0px;
  bottom: 0px;
  opacity: 0;
}
.photo-saiya-power-show-animation {
  animation: saiya-power-show 0.3s ease-out 0s 1 normal;
  animation-fill-mode: forwards;
  -webkit-animation: saiya-power-show 0.3s ease-out 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}
.photo-saiya-power-hide-animation {
  animation: saiya-power-hide 0.3s ease-in 0s 1 normal;
  animation-fill-mode: forwards;
  -webkit-animation: saiya-power-hide 0.3s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}
.photo-sb-logo {
  width: 77px;
  height: 56px;
  left: 48px;
  bottom: 360px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/superman_logo.png");
  opacity: 0;
}
.photo-sb-cloth {
  width: 298px;
  height: 372px;
  left: 135px;
  bottom: 70px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/superman_cloth.png");
  opacity: 0;
}
.photo-bullet {
  width: 16px;
  height: 9px;
  left: 0px;
  bottom: 495px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/bullet.png");
  opacity: 0;
}
.photo-blood {
  width: 16px;
  height: 26px;
  left: 28px;
  bottom: 495px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/blood.png");
  opacity: 0;
}
.photo-blood-show-animation {
  animation: photo-blood-show 0.2s ease-out 0s 1 normal;
  animation-fill-mode: forwards;
  -webkit-animation: photo-blood-show 0.2s ease-out 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}
.photo-blood-hide-animation {
  animation: photo-blood-hide 0.2s ease-in 0s 1 normal;
  animation-fill-mode: forwards;
  -webkit-animation: photo-blood-hide 0.2s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
}
.photo-planet {
  width: 202px;
  height: 222px;
  left: 98px;
  bottom: 445px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/planets.png");
  opacity: 0;
}
.photo-rocket {
  width: 117px;
  height: 92px;
  left: 260px;
  bottom: 550px;
  background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/rocket.png");
  opacity: 0;
}
@media screen and (max-width: 600px) {
  .photo-note {
    top: 5%;
    margin-top: 0;
  }
  .photo-me-bw {
    width: 130px;
    height: 398px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/me_bw.png?imageView2/2/w/260");
  }
  .photo-wing {
    width: 264px;
    height: 236px;
    bottom: 253px;
    left: 80px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/wing.png?imageView2/2/w/528");
    opacity: 0;
  }
  .photo-horn-right {
    width: 60px;
    height: 53px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/devil_horn_right.png?imageView2/2/w/120");
    left: 58px;
    bottom: 355px;
    opacity: 0;
  }
  .photo-horn-left {
    width: 45px;
    height: 67px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/devil_horn_left.png?imageView2/2/w/90");
    left: -11px;
    bottom: 325px;
    opacity: 0;
  }
  .photo-trail {
    width: 145px;
    height: 180px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/devil_trail.png?imageView2/2/w/290");
    left: 62px;
    bottom: 135px;
    opacity: 0;
  }
  .photo-saiya-head {
    width: 93;
    height: 105;
    left: -1;
    bottom: 349;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/saiya_head.png?imageView2/2/w/186");
    opacity: 0;
  }
  .photo-saiya-head-hide-animation {
    animation: saiya-head-hide 0.3s ease-in 0s 1 normal;
    animation-fill-mode: forwards;
    -webkit-animation: saiya-head-hide 0.3s ease-in 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
  }
  .photo-saiya-power {
    width: 245px;
    height: 508px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/saiya_power.png?imageView2/2/w/490");
    left: 0px;
    bottom: 0px;
    opacity: 0;
  }
  .photo-sb-logo {
    width: 54px;
    height: 39px;
    left: 37px;
    bottom: 261px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/superman_logo.png?imageView2/2/w/108");
    opacity: 0;
  }
  .photo-sb-cloth {
    width: 215px;
    height: 267px;
    left: 95px;
    bottom: 55px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/superman_cloth.png?imageView2/2/w/430");
    opacity: 0;
  }
  .photo-bullet {
    width: 11px;
    height: 6px;
    left: 0px;
    bottom: 360px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/bullet.png?imageView2/2/w/22");
    opacity: 0;
  }
  .photo-blood {
    width: 15px;
    height: 20px;
    left: 20px;
    bottom: 360px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/blood.png?imageView2/2/w/30");
    opacity: 0;
  }
  .photo-planet {
    width: 180px;
    height: 160px;
    left: 71px;
    bottom: 344px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/planets.png?imageView2/2/w/360");
    opacity: 0;
  }
  .photo-rocket {
    width: 83px;
    height: 65px;
    left: 204px;
    bottom: 401px;
    background-image: url("http://7ls0ue.com1.z0.glb.clouddn.com/about/rocket.png?imageView2/2/w/166");
    opacity: 0;
  }
}
/*--------------------------------------------*/
/*contact*/
.contact {
  background-color: #f8f8f8;
  position: absolute;
}
.contact-title {
  position: relative;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #7f7f7f;
}
.typed-cursor {
  opacity: 1;
  font-size: 25px;
}
.typed-cursor-animation {
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
#contact-user-name {
  width: 300px;
  height: 60px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #34495e;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #34495e;
  font-size: 16px;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 0;
}
#contact-message {
  width: 300px;
  height: 60px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #34495e;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 16px;
  padding: 5px;
  color: #34495e;
  background-color: #f8f8f8;
  border-radius: 0;
}
.contact-button-container {
  position: relative;
  width: 300px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.contact-post-bg-normal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #34495e;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
}
.contact-post-bg-success {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #6cc49e;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
}
#contact-post-button {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
}
.contact-success {
  position: absolute;
  width: 100%;
  top: 30px;
  text-align: center;
  font-size: 16px;
  color: #34495e;
  border-top: 1px solid #34495e;
  border-bottom: 1px solid #34495e;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0;
}
.website_link {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  color: #bfbfbf;
  bottom: 10px;
}
@media screen and (max-width: 621px) {
  .contact-box {
    position: absolute;
    width: 100%;
    top: 60px;
  }
  .contact-success {
    top: 10px;
  }
}
/*--------------------------------------------*/
/*动画*/
/*---------------------*/
/*walking*/
.walking-animate .walking-man {
  animation: man-walk 2s steps(48) 0s infinite normal;
  -webkit-animation: man-walk 2s steps(48) 0s infinite normal;
}
/*---------------------*/
/*人造卫星旋转*/
.afstar {
/*animation: name duration timing-function delay iteration-count direction;*/
  animation: planet-rotate 5s linear 0s infinite normal;
  -webkit-animation: planet-rotate 5s linear 0s infinite normal;
}
.earth {
  animation: planet-rotate 20s linear 0s infinite normal;
  -webkit-animation: planet-rotate 20s linear 0s infinite normal;
}
/*---------------------*/
/*mountain-close*/
.walking-animate .mountain-close {
  animation: scene-move 200s linear 0s infinite normal;
  -webkit-animation: scene-move 200s linear 0s infinite normal;
}
/*.mountain-long {
	animation: scene-move 600s linear 0s infinite normal;
}*/
.walking-animate .trees-close {
  animation: scene-move 30s linear 0s infinite normal;
  -webkit-animation: scene-move 30s linear 0s infinite normal;
}
.walking-animate .trees-long {
  animation: scene-move 120s linear 0s infinite normal;
  -webkit-animation: scene-move 120s linear 0s infinite normal;
}
@-moz-keyframes macbook-float {
  from {
    top: 70px;
  }
  to {
    top: 60px;
  }
}
@-webkit-keyframes macbook-float {
  from {
    top: 70px;
  }
  to {
    top: 60px;
  }
}
@-o-keyframes macbook-float {
  from {
    top: 70px;
  }
  to {
    top: 60px;
  }
}
@keyframes macbook-float {
  from {
    top: 70px;
  }
  to {
    top: 60px;
  }
}
@-moz-keyframes guitar-wood-float {
  from {
    top: 15px;
  }
  to {
    top: -5px;
  }
}
@-webkit-keyframes guitar-wood-float {
  from {
    top: 15px;
  }
  to {
    top: -5px;
  }
}
@-o-keyframes guitar-wood-float {
  from {
    top: 15px;
  }
  to {
    top: -5px;
  }
}
@keyframes guitar-wood-float {
  from {
    top: 15px;
  }
  to {
    top: -5px;
  }
}
@-moz-keyframes guitar-electric-float {
  from {
    top: -5px;
  }
  to {
    top: 15px;
  }
}
@-webkit-keyframes guitar-electric-float {
  from {
    top: -5px;
  }
  to {
    top: 15px;
  }
}
@-o-keyframes guitar-electric-float {
  from {
    top: -5px;
  }
  to {
    top: 15px;
  }
}
@keyframes guitar-electric-float {
  from {
    top: -5px;
  }
  to {
    top: 15px;
  }
}
@-moz-keyframes notebook-float {
  from {
    top: -40px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    top: -60px;
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
  }
}
@-webkit-keyframes notebook-float {
  from {
    top: -40px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    top: -60px;
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
  }
}
@-o-keyframes notebook-float {
  from {
    top: -40px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    top: -60px;
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
  }
}
@keyframes notebook-float {
  from {
    top: -40px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    top: -60px;
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
  }
}
@-moz-keyframes saiya-head-show {
  from {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes saiya-head-show {
  from {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes saiya-head-show {
  from {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes saiya-head-show {
  from {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes saiya-head-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0;
  }
}
@-webkit-keyframes saiya-head-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0;
  }
}
@-o-keyframes saiya-head-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0;
  }
}
@keyframes saiya-head-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0;
  }
}
@-moz-keyframes saiya-power-show {
  from {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes saiya-power-show {
  from {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes saiya-power-show {
  from {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes saiya-power-show {
  from {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes saiya-power-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes saiya-power-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}
@-o-keyframes saiya-power-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes saiya-power-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}
@-moz-keyframes photo-blood-show {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes photo-blood-show {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes photo-blood-show {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes photo-blood-show {
  from {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes photo-blood-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}
@-webkit-keyframes photo-blood-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}
@-o-keyframes photo-blood-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes photo-blood-hide {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes man-walk {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -7943px 0px;
  }
}
@-webkit-keyframes man-walk {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -7943px 0px;
  }
}
@-o-keyframes man-walk {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -7943px 0px;
  }
}
@keyframes man-walk {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -7943px 0px;
  }
}
@-moz-keyframes planet-rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes planet-rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-o-keyframes planet-rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes planet-rotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes scene-move {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -2560px 0px;
  }
}
@-webkit-keyframes scene-move {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -2560px 0px;
  }
}
@-o-keyframes scene-move {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -2560px 0px;
  }
}
@keyframes scene-move {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -2560px 0px;
  }
}
